<h1>Add A New photo</h1>

<form action="/photos/create_photo">
  <div>
    <label for="caption_input">Caption:</label>
    <input id="caption_input" type="text" name="the_caption">
  </div>
  <div>
    <label for="source_input">Image URL:</label>
    <input id="source_input" type="text" name="the_image_url">
  </div>
  <div>
    <button>Create Photo</button>
  </div>
</form>
